body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color:deepskyblue;
    background-color:aliceblue;
}

header {
    background-color:deepskyblue;
    color:aliceblue;
    padding: 20px;
    margin-left: 0px
}

header h1{
    color:aliceblue
}

nav ul{
    color:aliceblue;
    list-style: none;
    margin: 0px;
    padding: 20px;
}

nav ul li{
    text-decoration: none;
    color:aliceblue
}

h1{
    font-size: 30px;
    color:black
}

h2{
    font-size: 24px;

}
 .article-image{
    width: 300px
 }

article{
    margin-bottom: 20px;
}

section{
    margin-left:20px;
    color:black

}

section h1{
    color:black;
}

section h2{
    font-size: 24px;
}

article{
    color:black

}

article h1{
    font-size:24px;
}

footer{
    background-color:deepskyblue;
    padding:10px;
    margin: 0px;
    color:aliceblue;
    text-align: center
}



.profile-image{
    width:50px
}


article h2{
    font-size: 20px
}